<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pita Pit - Product</title>
    @Html.Partial("~/Views/Shared/Header.html")  
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        @Html.Partial("~/Views/Shared/Nav.html")

        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                @Html.Partial("~/Views/Shared/StatusBar.html")
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <!-- Page Heading -->
                                <div class="d-sm-flex align-items-center justify-content-between mb-lg-2">
                                    <h1 class="h-100 mb-0 text-gray-800">Product</h1>
                                </div>
                                <div class="card o-hidden border-0 shadow-lg my-2">
                                    <div class="card-body p-0">
                                        <!-- Nested Row within Card Body -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="p-lg-5">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="productName">Name</label>
                                                            <input type="text" class="form-control" id="productName" placeholder="Ex. Banana">
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="productPrice">Price</label>
                                                                <input type="text" class="form-control" id="productPrice" placeholder="Ex. 17">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="productGST">GST</label>
                                                                <input type="text" class="form-control" id="productGST" placeholder="Ex. 17">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-3">
                                                                <label for="productGroup">Group</label>
                                                                <div class="dropdown">
                                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Dropdown
                                                                    </button>
                                                                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                                                        <a class="dropdown-item" href="#">Action</a>
                                                                        <a class="dropdown-item" href="#">Another action</a>
                                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                <label for="productLocation">Location</label>
                                                                <div class="dropdown">
                                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Dropdown
                                                                    </button>
                                                                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                                                        <a class="dropdown-item" href="#">Action</a>
                                                                        <a class="dropdown-item" href="#">Another action</a>
                                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="productIsRecipe">Recipe ?</label></br>
                                                                <label class="switch">
                                                                    <input type="checkbox" id="productIsRecipe" checked>
                                                                    <span class="slider round"></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label for="productDescription">Description</label>
                                                                <textarea class="form-control" id="productDescription" rows="3" placeholder="Ex. Banana should only used for the smoothies !! ......"></textarea>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">ADD</button>
                                                        <button type="button" class="btn btn-danger">CANCEL</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <!-- Page Heading -->
                                <div class="d-sm-flex align-items-center justify-content-between mb-lg-2">
                                    <h1 class="h-100 mb-5 text-gray-800"></h1>
                                </div>
                                <div class="card o-hidden mb-2 border-0 shadow-lg my-2">
                                    <div class="card-body p-0">
                                        <!-- Nested Row within Card Body -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="p-lg-5">
                                                    <form>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="productPackSize">Pack Size</label>
                                                                <div class="dropdown">
                                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Dropdown
                                                                    </button>
                                                                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                                                        <a class="dropdown-item" href="#">Action</a>
                                                                        <a class="dropdown-item" href="#">Another action</a>
                                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="productQtyPack">Qty In Pack</label>
                                                                <input type="number" class="form-control" id="productQtyPack" placeholder="Ex. 17">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="productQty">Qty</label>
                                                                <input type="number" class="form-control" id="productQty" placeholder="Ex. 17">
                                                            </div>  
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                @Html.Partial("~/Views/Shared/footer.html")
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        @Html.Partial("~/Views/Shared/FooterJS.html")

</body>

</html>


