<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pita Pit - Locations</title>
    @Html.Partial("~/Views/Shared/Header.html")
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        @Html.Partial("~/Views/Shared/Nav.html")

        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                @Html.Partial("~/Views/Shared/StatusBar.html")
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <form id="location-form" name="location-form" action="Locations/AddLocation" method="post">
                        <!-- Content Row -->

                        <h1 class="h3 mb-2 text-gray-800">Location</h1>

                        <div class="mb-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card o-hidden border-0 shadow-lg my-0">
                                        <div class="card-body p-0">
                                            <!-- Nested Row within Card Body -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="p-lg-3">
                                                        <b><label>Location</label></b><hr />
                                                        <div class="form-group mr-2">
                                                            <label for="groupName">Name</label> &nbsp;&nbsp;
                                                            <input type="text" class="form-control" id="locationName" name="locationName" placeholder="Ex. Chiller">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">ADD</button> &nbsp;&nbsp;
                                                        <button type="reset" class="btn btn-danger">CANCEL</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </form>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Location List</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>9854</td>
                                            <td>Chiller</td>
                                            <td>
                                                <a href="#" class="btn btn-info float-sm-left btn-circle btn-sm">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="#" class="btn btn-danger float-sm-right btn-circle btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8547</td>
                                            <td>Fridge</td>
                                            <td>
                                                <a href="#" class="btn btn-info float-sm-left btn-circle btn-sm">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="#" class="btn btn-danger float-sm-right btn-circle btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                @Html.Partial("~/Views/Shared/footer.html")
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        @Html.Partial("~/Views/Shared/FooterJS.html")



</body>

</html>

@if (ViewData["Status"] != null)
{
    <script>
        var status = "@ViewData["Status"]";

        window.onload = function ()
        {
            ShowMessage();
        };

        function ShowMessage()
        {
            if (status == "Success")
            {
                swal({
                    title: "Good job!",
                    text: "Location has been added",
                    type: "success",
                    confirmButtonClass: "btn btn-success mt-2"
                });
            }
            else if (status == "Error") {
                swal({
                    title: "Whoops!",
                    text: "An error has occurred",
                    type: "error",
                    confirmButtonClass: "btn btn-danger btn-sm",
                    footer: "<a>Please try Again</a>"
                });
            }
            else {
                swal({
                    title: "Uh oh!",
                    text: "Something happened?",
                    type: "warning",
                    confirmButtonClass: "btn btn-warning btn-sm"
                });
            }
        }
    </script>
}


