<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pita Pit - Product</title>
    @Html.Partial("~/Views/Shared/Header.html")  
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        @Html.Partial("~/Views/Shared/Nav.html")

        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                @Html.Partial("~/Views/Shared/StatusBar.html")
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Product</h1>
                    <div class="mb-4">
                        <div class="row">
                                    <div class="col-lg-9">
                                        <div class="card o-hidden border-0 shadow-lg my-0">
                                            <div class="card-body p-0">
                                                <!-- Nested Row within Card Body -->
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="p-lg-5">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="productName">Name</label>
                                                                    <input type="text" class="form-control" id="productName" placeholder="Ex. Banana">
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-6">
                                                                        <label for="productPrice">Price</label>
                                                                        <input type="text" class="form-control" id="productPrice" placeholder="Ex. 17">
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label for="productGST">GST</label>
                                                                        <input type="text" class="form-control" id="productGST" placeholder="Ex. 17">
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-3">
                                                                        <label for="productGroup">Group</label>
                                                                        <select class="form-control productGroupSelectPicker">
                                                                            <option>Beverages</option>
                                                                            <option>Sauces</option>
                                                                            <option>Veggies</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group col-md-3">
                                                                        <label for="productLocation">Location</label>
                                                                        <select class="form-control productLocationSelectPicker">
                                                                            <option>Chiller</option>
                                                                            <option>Fridge</option>
                                                                            <option>Normal</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label for="productIsRecipe">Recipe ?</label></br>
                                                                        <label class="switch">
                                                                            <input type="checkbox" id="productIsRecipe" checked>
                                                                            <span class="slider round"></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-group col-md-12">
                                                                        <label for="productDescription">Description</label>
                                                                        <textarea class="form-control" id="productDescription" rows="3" placeholder="Ex. Banana should only used for the smoothies !! ......"></textarea>
                                                                    </div>
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">ADD</button>
                                                                <button type="button" class="btn btn-danger">CANCEL</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3"> 
                                        <div class="card h-100 o-hidden mb-2 border-0 shadow-lg my-0">
                                            <div class="card-body p-0">
                                                <!-- Nested Row within Card Body -->
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="p-lg-5">
                                                            <form>
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-12">
                                                                        <label for="productPackSize">Pack Size</label>
                                                                        <select class="form-control productPackSizeSelectPicker">
                                                                            <option>Box</option>
                                                                            <option>Packet</option>
                                                                            <option>Piece</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-12">
                                                                        <label for="productQtyPack">Qty In Pack</label>
                                                                        <input type="number" class="form-control" id="productQtyPack" placeholder="Ex. 17">
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-12">
                                                                        <label for="productQty">Qty</label>
                                                                        <input type="number" class="form-control" id="productQty" placeholder="Ex. 17">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                    </div>

                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                @Html.Partial("~/Views/Shared/footer.html")
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        @Html.Partial("~/Views/Shared/FooterJS.html")

</body>

</html>
<script type="text/javascript">
    $('select').productGroupSelectPicker();
    $('select').productLocationSelectPicker();
    $('select').productPackSizeSelectPicker();
</script>

