@model dynamic
@using System.Linq;
@{
    int id = 0;
    string sku = "";
    string name = "";
    string address = "";
    string email = "";
    string note = "";
    string productList = "";

    if (Model.Supplier != null)
    {
        foreach (Pita_Pit_Inventory.Models.ViewModels.SuppliersViewModel item in Model.Supplier)
        {
            id = item.Id;
            sku = item.SKU;
            name = item.Name;
            address = item.Address;
            email = item.Email;
            note = item.Note;
            productList = item.ProductList;
        }
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pita Pit - Supplier</title>
    @Html.Partial("~/Views/Shared/Header.html")
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        @Html.Partial("~/Views/Shared/Nav.html")

        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                @Html.Partial("~/Views/Shared/StatusBar.html")
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <form id="supplier-form" action="New/Add" method="post">
                        <h1 class="h3 mb-2 text-gray-800">Supplier</h1>
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="card o-hidden border-0 shadow-lg my-0">
                                        <div class="card-body p-0">
                                            <!-- Nested Row within Card Body -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="p-lg-3">
                                                        <b><label>Supplier</label></b><hr />
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="supplierId">Id</label>
                                                                <input type="text" class="form-control" id="supplierId" name="supplierId" placeholder="####" disabled="disabled" value="@(id != 0 ? id.ToString() : "")">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="supplierSKU">SKU</label>
                                                                <input type="text" class="form-control" id="supplierSKU" name="supplierSKU" placeholder="GG_SKU-102" value="@sku">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="supplierName">Name</label>
                                                                <input type="text" class="form-control" id="supplierName" name="supplierName" placeholder="Ex. John Devis" value="@name">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="supplierAddress">Address</label>
                                                                <textarea class="form-control" id="supplierAddress" name="supplierAddress" rows="3" placeholder="Ex. 1/17 Plenty avenue, Albany, Auckland 2150">@address</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="supplierEmail">Email</label>
                                                                <input type="email" class="form-control" id="supplierEmail" name="supplierEmail" placeholder="Ex. info@domain.com" value="@email">
                                                            </div>
                                                        </div>
                                                        <input type="submit" class="btn btn-primary" value="ADD" />
                                                        <input type="reset" class="btn btn-danger" value="CANCEL">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card h-100 o-hidden mb-2 border-0 shadow-lg my-0">
                                        <div class="card-body p-0">
                                            <!-- Nested Row within Card Body -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="p-lg-3">
                                                        <b><label>Products</label></b><hr />
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="productList">Product List</label>
                                                                <select class="selectpicker" id="productList" name="productList" multiple>
                                                                    @{
                                                                        string[] productIds = productList.Split(',');

                                                                        @if (Model.Products != null)
                                                                        {
                                                                            @foreach (var item in Model.Products)
                                                                            {
                                                                                int pos = Array.IndexOf(productIds, @item.ProductId.ToString());
                                                                                <option value="@item.ProductId"  @(pos > -1 ? "selected" : "")>@item.ProductName</option>
                                                                            }
                                                                        }

                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="supplierNote">Note</label>
                                                                <textarea class="form-control" id="supplierNote" name="supplierNote" rows="3" placeholder="Ex. Available during weekdays only !">@note</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.container-fluid -->
                    </form>
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                @Html.Partial("~/Views/Shared/footer.html")
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        @Html.Partial("~/Views/Shared/FooterJS.html")

    </div>

</body>

</html>
<script type="text/javascript">
    $('select').selectpicker();
</script>

@if (ViewData["Status"] != null)
{
    <script>
        var status = "@ViewData["Status"]";

        window.onload = function ()
        {
            ShowMessage();
        };

        function ShowMessage()
        {
            if (status == "Success")
            {
                swal({
                    title: "Good job!",
                    text: "Supplier has been added",
                    type: "success",
                    confirmButtonClass: "btn btn-success mt-2"
                });
            }
            else if (status == "Error") {
                swal({
                    title: "Whoops!",
                    text: "An error has occurred",
                    type: "error",
                    confirmButtonClass: "btn btn-danger btn-sm",
                    footer: "<a>Please try Again</a>"
                });
            }
            else {
                swal({
                    title: "Uh oh!",
                    text: "Something happened?",
                    type: "warning",
                    confirmButtonClass: "btn btn-warning btn-sm"
                });
            }
        }
    </script>
}